html {
    background-color: #000;
}

html,
body {
    margin: 0;
    border: 0;
    padding: 0.25em 1em;
    overflow: hidden;

    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    color: #fff;
}

.image-cache {
    display: none;
}

.link {
    color: #fff;
    text-decoration: none;
}

.link:hover {
    color: rgb(243, 190, 37);
}

.titulo .rocks {
    display: none;
    position: relative;
    top: -16px;
    left: 8px;

    font-style: italic;
    font-size: 0.65em;
    color: #f5f032;
}

.subtitulo a {
    display: none;
    position: relative;
    top: -8px;
    left: 0;


    font-style: italic;
    font-size: 0.75em;
    padding: 16px;
}



.dicas {
    margin: 2.5rem 0;
}
.dicas .dica {
    font-size: 0.85em;
    font-style: italic;
    color: rgb(243, 190, 37);
}

.fullsize {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.recurso-utilizado {
    font-style: italic;
}


    .recurso-utilizado img {
        vertical-align: middle;
        width: 5rem;
        height: 5rem;
        border: 2px solid #fff;
        border-radius: 50%;
        margin-right: 0.75em;
    }

    .recurso-utilizado:hover img {
        border-color: rgb(243, 190, 37);
    }


.github {
    margin: 2em 0;
}


@media (min-width: 600px) {
    .titulo .rocks {
        display: inline;
    }

    .subtitulo a {
        display: inline;
    }
}
